.nv-pieChart .nv-pie-title,
.nv-pieChart .nvd3 text {
  font-size: 0.8em !important;
  font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
  fill: #696969;
}

/** Usage PieChart */
.nvd3.nv-pie .nv-pie-title {
  fill: #696969;
}

.nv-legend-text,
.nv-label {
  font-size: 10px !important;
}
