body {
  background: #f3f3f3;
  font-family: sans-serif;
}

.navbar, .panel, .panel-heading, .list-group > .list-group-item {
  border-radius: 0px;
}
.badge {
  border-radius: .25em;
}

.navbar-default, .panel, .list-group-item {
  background: #ffffff;
  border-color: #e7e7e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  border-color: #e7e7e7;
}

.list-group-item > .label {
  float: right;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #f4f4f4;
}
